@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  overflow-x: hidden;

  font-family: Arial, Helvetica, sans-serif;
}


.dg.ac {
 z-index: 99999 !important;
}

.active1 {
  position: absolute;
  left: 0;
  top: 0;
  
}